header {
  background-color: bisque;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
